a {
    text-decoration: none;
    color: blue;
}

ul>li{display:inline-block;}

p#TieuDePhu {
    font-family: Arial;
    font-size: 120%;
    text-align: left;

}

span {
    color: blueviolet;
}

p.abc {
    font-family: Arial;
    font-size: 120%;
    text-indent: 50px;
}