body {
    font-family: Verdana,sans-serif;
    font-size: 0.9em;
}

footer {
    padding: 10px;
    color: white;
    background-color: black;
}

header {
    padding: 10px;
    color: white;
    background-color: black;
}

section {
    margin: 5px;
    padding: 10px;
    background-color: lightgrey;
}

article {
    margin: 5px;
    padding: 10px;
    background-color: white;
}


nav ul {
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 5px;
}


div section {
    width: 65%;
    float: left;
}

div aside {
    margin: 5px;
    padding: 10px;
    height: 450px;
}